.flexbox-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: stretch ;

}

.flexbox-item{
    width: 648px;
    height: 400px;
    margin: 20px;
    border: 3px solid #333;
    background-color: #dfdfdf;

}

span.VT{
    font-size: 30px;
    font-weight:bolder;
    
}

@media(max-width: 400px){
    .flexbox-container{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: stretch ;
        padding-left: 100px;
    }

    .flexbox-item{
        width: 1300px;
        height: 800px;
        margin: 60px;
    }

    span.VT{
        font-size: 4em;
        font-weight: bolder;
    }

}