.dropdown{
    background: #ffffff;
    position:absolute;
    left:40px;
    padding:1px;
    margin-top: 50px;
    color:black;
    width: 82%;
    cursor: pointer;
    
    
}



.window {
    
    position: absolute;
    top: 9em;
    left: 4em;
    right: 6em;
    padding: 1em 1em;
    font-size: 25px;
    overflow: visible;
    overflow-y: hidden;
    background-color: #e2dfdf;
    border-radius: 1.5%;      
}

.space {
    padding: 10px;
}

.window img { 
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    width: 50%;
    border: 2px solid rgb(27, 27, 27);
    
}

img.Accu{
    margin-top: 1%;
    margin-right: 20px;
    float: left;
    width:20%;
    transition: all .2s ease-in-out;
}

.Accu:hover{
    transform: scale(1.1);

}

p.text{
    margin-top: 1%;
}

h5.note{
    color:red;
}

.video {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: stretch ;
}

.search button {
    background: #d4d3d3;
    position:absolute;
    right:105px;
    top:87px;
    border-radius: 20px;
    font-size: 20px;
    width: 100px;
    height: 30px;
    margin-top: 23px;
}

.search button:hover{
    background-color: rgb(138, 216, 247);
}
