
.dropdown{
    background: #ffffff;
    position:fixed;
    left:40px;
    padding:1px;
    margin-top: 50px;
    color:black;
    width: 82%;
    
}

.window {
    position: fixed;
    padding: 3em 3em;
    font-size: 35px;
}

button.search{
    background: #d4d3d3;
    position:fixed;
    right:135px;
    top:84px;
    border-radius: 20px;
    font-size: 20px;
    width: 100px;
    height: 30px;
    margin-top: 23px;
}

.dropdown button:hover{
    background-color: rgb(138, 216, 247);
}
