.toggle-button {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 24px;
    width: 30px;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    box-sizing: border-box;
  }
  
  .toggle-button:focus {
    outline: none;
  }
  
  .toggle-button__line {
    width: 30px;
    height: 2px;
    background: white;
  }

  @media (max-width: 400px){
    .toggle-button{
      height: 100px;
      width: 150px;
    }
    
    .toggle-button__line{
      width: 130px;
      height: 15px;
    }
  }